.Header {
  background: linear-gradient(180deg, #4d096a, #4b0c87, #550fc2);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    li {
      color: white;
      font-size: 18px;
      padding: 15px;
    }
  }
  a, a:visited, a:active {
    text-decoration: none;
    color: white;
  }

}