.Header {
  background: linear-gradient(180deg, #4d096a, #4b0c87, #550fc2);
  height: 60px;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    li {
      color: white;
      font-size: 18px;
      padding: 15px;
    }
  }
  a, a:visited, a:active {
    text-decoration: none;
    color: white;
  }
  img {
    width: 35px;
    position: relative;
    top: -2.5px;
  }
}

#user {
  margin-left: auto;
}